* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body, #root, .App {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 62.5%;
}

h3 {
  display: block;
  cursor: pointer;
  height: auto;
  width: 280px;
  background: rgb(244, 163, 41);
  color: darkblue;
  font-size: 3em;
  text-align: center;
  margin: 20px;
  padding: 6px 0px 12px 0px;
  top: 50%;
  left: 50%;
}

form {
  display: grid;
  grid-template-columns: minmax(200px,40%) minmax(300px, 60%);
  grid-template-rows: auto;
  padding: 15px;
  align-items: center;
}

input,select,textarea {
  grid-column: 2/3;
  margin: 10px;
  max-width: 300px;
}

p, label {
  grid-column: 1/2;
  font-size: 1.5em;
  color: gray;
}

p:hover,
label:hover {
  color: black;
}

small {
  color: red;
}