@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300;400;700&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Sunflower:wght@300;500;700&display=swap');

$font_default: #111;
$font_default_hover: #007CFF;
$font_default_hover_alt: #025CBB;
$img_bg_default: #3884D4;
$img_bg_default_hover: #4898ED;
$font_theme_default: #FFF;
$font_theme_default_hover: #FFB600;
$font_theme_default_hover_alt: #DAA520;
$img_bg_theme_default: #FDC135;
$img_bg_theme_default_hover: #ffba1b;

$fm_Poppins: 'Poppins', sans-serif;
$fm_Sunflower: 'Sunflower', sans-serif;
$fm_PatrickHand: 'Patrick Hand', cursive;
$fm_Kalam: 'Kalam', cursive;
$fm_Itim: 'Itim', cursive;

$gray_dark: #212121;
$gray_shade: #323232;
$gray_medium: #464646;
$gray_light: #646464;
$gray_alt: #929292;
$gray: #c4c4c4;
$gray_fade: #d7d7d7;

$footer_tab_right_theme: #848484;

$gray_medium_grd: rgba(33, 33, 33, 0.53);
$gray_dark_grd: rgba(70, 70, 70, 0.63);

$overlay_light: rgba(255,255,255,0.8);
$overlay_dark: rgba(0,0,0,0.7);